<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TRANSFER REVIEW MESSAGE</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
    />
  </head>
  <body style="font-family: 'Inter', sans-serif" ;font-style: normal;>
    <div
      style="
        background-color: white;
        padding: 40px 80px;
        border: 1px solid rgb(182, 182, 182);
        max-width: 1000px;
      "
    >
      <div style="width: 100%">
        <div style="display: block; text-align: center">
          <img
            src="https://i.ibb.co/PzX83BZ/logo.png"
            alt="Your golden key to success"
            border="0"
          />
        </div>

        <span
          style="
            display: block;
            margin-top: 30px;
            text-align: center;
            font-size: 32px;
            font-weight: 300;
            line-height: normal;
            letter-spacing: 4.6px;
            color: #5b5b5b;
          "
        >
          TRANSFER REVIEW MESSAGE!</span
        >
        <div
          style="margin: 15px auto 0px auto; display: block; text-align: center"
        >
          <img
            src="https://i.ibb.co/WFXtQyN/welocme-bottombar.png"
            alt="Email Welcome Bottombar"
            style="margin: 0px auto; display: block; text-align: center"
          />
        </div>
        <span
          style="
            color: #333;
            font-size: 19px;
            font-weight: 500;
            line-height: 41px;
          "
        >
          Dear Muaviya Imran,
        </span>
        <p
          style="
            color: #333;
            font-size: 19px;
            font-weight: 400;
            line-height: 30px;
            margin-top: 16px;
          "
        >
          <span>
            After reviewing your transfer request, we would appreciate some
            clarifications. In order to go back to your transfer request form,
            please click on the button below and provide the requested
            information.
          </span>
        </p>

        <a href="https://vuejs.org" target="_blank">
          <button
            href="https://vuejs.org"
            style="
              padding: 8px 15px;
              cursor: pointer;
              border-radius: 8px;
              background: #ffcf25;
              border-color: transparent;
              font-size: 19px;
              font-weight: 500;
              letter-spacing: 0.212px;
              color: #333;
            "
          >
            Submit Requested Info
          </button>
        </a>
        <p
          style="
            color: #333;
            padding: 0 20px;
            font-size: 19px;
            font-weight: 400;
            line-height: 21.757px;
            margin-top: 30px;
          "
        >
          If you have any questions or concerns, you can send us a message from
          your Zolvat account or check out the
          <span
            style="
              color: #2136f3;
              font-weight: 500;
              font-size: 19px;
              line-height: 22px;
              text-decoration-line: underline;
            "
            >FAQs.</span
          >
        </p>
        <div>
          <span
            style="
              color: #333;
              font-size: 19px;
              font-weight: 400;
              line-height: 41px;
              margin-top: 16px;
            "
            >Best regards,</span
          >
        </div>

        <span
          style="
            color: #333;
            font-size: 21px;
            font-weight: 400;
            line-height: 37px;
          "
        >
          Zolvat Compliance Team
        </span>
        <hr style="border-color: #b6b6b6; margin: 20px 0 0 0" />
        <!-- Footer -->
        <p
          style="
            color: #808080;
            font-size: 14px;
            font-style: italic;
            font-weight: 600;
          "
        >
          IMPORTANT SECURITY NOTICE:
          <span style="font-size: 14px; font-weight: 400">
            Please be vigilant in protecting your personal information. Do not
            share sensitive details, such as passwords or financial information,
            via email or unverified platforms. Always ensure you are logging in
            through our official website.</span
          >
        </p>
        <div style="width: 300px; display: flex; margin: 20px auto">
          <img
            style="cursor: pointer; margin: 0 18px"
            src="https://i.ibb.co/VW0fm4X/twitter.png"
            alt="Twitter"
          />
          <img
            style="cursor: pointer; margin: 0 18px"
            src="https://i.ibb.co/S7TdP47/instagram.png"
            alt="Instagram"
          />
          <img
            style="cursor: pointer; margin: 0 18px"
            src="https://i.ibb.co/QjMwbLy/facebook.png"
            alt="Facebook"
          />
          <img
            style="cursor: pointer; margin: 0 18px"
            src="https://i.ibb.co/LYTf48M/linkedin.png"
            alt="LinkedIn"
          />
        </div>
        <div style="width: 100%">
          <div
            style="
              color: #808080;
              display: flex;
              font-size: 14px;
              font-weight: 400;
              line-height: 17px;
              text-decoration-color: #808080;
              text-decoration-line: underline;
            "
          >
            <span style="margin-right: auto">Zolvat LTD</span>
            <div style="display: flex">
              <span style="margin: 0 10px">FAQs</span
              ><span style="margin: 0 10px">Privacy Policy</span
              ><span style="margin: 0 10px">Terms &amp; Conditions</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
